#about-wrapper {
	padding: 36px 0 0 0;

  #header {
    min-width: 600px;
  }

  #main-container {
    min-width: 600px;
  }

  .row {
    color: $lightTextPrimary;
    background-color: $black;
    height: calc(100vh - 36px);

    overflow: auto;
  }
}
