@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}

@mixin transition($transition1, $transition2:false, $transition3:false, $transition4:false, $transition5:false) {
 $params: $transition1;
  @if $transition2
    { $params: $transition1, $transition2; }
    @if $transition3 != false
      { $params: $transition1, $transition2, $transition3; }
      @if $transition4 != false
        { $params: $transition1, $transition2, $transition3, $transition4; }
        @if $transition5 != false
          { $params: $transition1, $transition2, $transition3, $transition4, $transition5; }

  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}
