<!DOCTYPE html>
<html ng-app="GameApp">
<head>
<title>Chime Clicker</title>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.tooltipster.js"></script>
<script src="js/jquery.hotkeys.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/game.js"></script>
<script src="js/classes.js"></script>
<link rel="shortcut icon" href="favicon.ico" type="image/icon">
<link rel="icon" href="favicon.ico" type="image/icon">
<link href="output.css" rel="stylesheet" type="text/css">
<link href="tooltipster.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Rajdhani:400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body ng-controller="GameController">
<div id="wrapper">
	<div id="header" class="container title">
		<a id="header-home" class="header-link" href="index.html">
			<img id="header-icon" src="images/Mask_negative.png"></img>
			Chime Clicker
		</a>
		<div id="header-link-container">
			<a id="header-about" class="header-link" href="about.html">
				About
			</a>
			<a id="header-help" class="header-link" href="help.html">
				Help
			</a>
		</div>
	</div>
	<div id="main-container" class="container">
		<div class="row">
			<div id="column-1" class="column">
				<div id="meeps-row" class="row">
					<div id="meeps-container" class="container">
						<div id="meeps-status" class="status {{game.spells['Flash'].status == game.ACTIVE ? 'flash-active' : '';}}">
							<div id="meeps-wrapper" data-toggle="tooltip" data-title="Collect chimes to earn meeps.  Meeps grant {{game.meepDamage}} Power." data-position="right">
								<text>
									{{game.prettyInt(game.meeps)}}
								</text>
								<text id="meeps" class="title">
									Meep{{game.isPlural(game.meeps)}}
								</text>
							</div>
						</div>
						<div id="chimes-bar-dropdown" class="dropdown">
							<div class="dropdown-content">
								<div id="chimes-bar" class="bar {{game.spells['Ghost'].status == game.ACTIVE ? 'ghost-active' : '';}}">
									<div id="chimes-bar-fill" class="bar-fill" style="width:{{game.getMeepProgressPercent()}}%"></div>
									<div id="chimes-rate" data-toggle="tooltip" data-title="Chimes collected per second." data-position="right">
										CPS {{game.prettyInt(game.chimesRate)}}
									</div>
									<div id="chimes-progress" data-toggle="tooltip" data-title="Chimes for next meep." data-position="left">
										{{game.prettyIntCompact(game.chimes)}}/{{game.prettyIntCompact(game.chimesPerMeepFloor)}}	chimes
									</div>
								</div>
							</div>
							<div class="dropdown-button">
								<i class="fa fa-angle-up fa-lg rotate"></i>
							</div>
						</div>
					</div>
					<div id="chimes-container" class="container">
						<div id="chimes-button-wrapper" class="click-button-wrapper">
							<div id="chimes-button-holder" class="click-button-holder"></div>
							<div id="chimes-button" class="click-button button"></div>
						</div>
					</div>
				</div>

				<div id="monster-row" class="row">
					<div id="damage-container" class="container">
						<div id="damage-status" class="status {{game.spells['Smite'].status == game.ACTIVE ? 'smite-active' : '';}}">
							<div id="monster-selector" class="selector {{game.isFirstMonster()}} {{game.isLastMonster()}}">
								<div class="selector-button selector-left">
									<i class="fa fa-angle-left"></i>
								</div>
								<div class="selector-content">
									<div id="monster-name">
										{{game.monster}}
									</div>
									<div id="monster-gold" data-toggle="tooltip" data-title="Gold on kill." data-position="right">
										<i class="fa fa-database fa-sm icon-gold"></i>
										{{game.prettyIntCompact(game.monsters[game.monster].gold)}}
									</div>
									<div id="monster-experience" data-toggle="tooltip" data-title="Experience on kill." data-position="left">
										{{game.prettyIntCompact(game.monsters[game.monster].experience)}} xp
									</div>
								</div>
								<div class="selector-button selector-right">
									<i class="fa fa-angle-right"></i>
								</div>
							</div>
						</div>
						<div id="damage-bar-dropdown" class="dropdown">
							<div class="dropdown-content">
								<div id="damage-bar" class="bar {{game.spells['Ignite'].status == game.ACTIVE ? 'ignite-active' : '';}}">
									<div id="damage-bar-fill" class="bar-fill" style="width:{{game.getMonsterHealthPercent()}}%"></div>
									<div id="damage-rate" data-toggle="tooltip" data-title="Damage dealt per second." data-position="right">
										DPS {{game.prettyInt(game.damageRate)}}
									</div>
									<div id="damage-progress">
										{{game.prettyIntCompact(game.monsters[game.monster].currentHealth, 2)}} / {{game.prettyIntCompact(game.monsters[game.monster].maxHealth, 2)}} hp
									</div>
								</div>
							</div>
							<div class="dropdown-button">
								<i class="fa fa-angle-up fa-lg rotate"></i>
							</div>
						</div>
					</div>
					<div id="monster-container" class="container">
						<div id="monster-button-wrapper" class="click-button-wrapper">
							<div id="monster-button-holder" class="click-button-holder"></div>
							<div id="monster-button" class="click-button button" style="background-image:url({{game.getMonsterImageUrl(game.monster)}})"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- game status and items -->
			<div id="column-2" class="column">
				<div id="game-status">
					<div id="game-status-wrapper">
						<div id="game-status-top">
							<div id="gold-status">
								<div id="gold-value">
									<i class="fa fa-database fa-sm icon-gold"></i>
									{{game.prettyIntVariable(game.gold, null, 1050)}}
								</div>
								<div id="income-value">
									<div>Income</div>
									<i class="fa fa-database fa-sm icon-gold"></i>
									{{game.prettyInt(game.goldRate)}}
								</div>
							</div>
							<div id="game-stats">
								<div id="discovery-value" class="game-stat game-stat-top game-stat-left">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Chimes collected per click.">
										<div class="game-stat-name">Discovery</div> {{game.prettyIntCompact(game.chimesPerClick)}}
									</div>
								</div>
								<div id="power-value" class="game-stat game-stat-top game-stat-right">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Damage dealt per click.">
										<div class="game-stat-name">Power</div> {{game.prettyIntCompact(game.damagePerClick)}}
									</div>
								</div>
								<div id="swiftness-value" class="game-stat game-stat-bottom game-stat-left">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Chime clicks per second.">
										<div class="game-stat-name">Swiftness</div> {{game.prettyIntCompact(game.chimesClickRate)}}
									</div>
								</div>
								<div id="agility-value" class="game-stat game-stat-bottom game-stat-right">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Damage clicks per second.">
										<div class="game-stat-name">Agility</div> {{game.prettyIntCompact(game.damageClickRate)}}
									</div>
								</div>
							</div>
						</div>
						<div id="level" class="title {{game.getLevelText()}}" data-toggle="tooltip" data-title="Level up to unlock new items, spells, and monsters.">
							{{game.getLevelText()}}
						</div>
						<div id="experience-bar" class="bar">
							<div id="experience-bar-fill" class="bar-fill" style="width:{{game.getExperiencePercent()}}%"></div>

							<div id="experience-progress" data-toggle="tooltip" data-title="Experience for next level." data-position="left">
								{{game.prettyInt(game.experience)}} / {{game.prettyInt(game.experienceNeeded)}} xp
							</div>
						</div>
					</div>
				</div>
				<div id="items-container">
					<!-- unlocked items -->
					<div ng-repeat="item in game.getObjectsByStatus(game.items, game.AVAILABLE)" class="item container">
						<!-- item image -->
						<div class="item-left" ng-click="game.buyItem(item)">
							<div class="item-cost">
								<i class="fa fa-database fa-sm icon-gold"></i>
								{{game.prettyIntCompact(game.items[item].cost)}}
							</div>
							<div style="background-image:url({{game.getItemImageUrl(item)}})" class="item-image">
							</div>
							<div class="item-left-shadow">
							</div>
						</div>
						<!-- item header -->
						<div class="item-header">
							<div class="item-buy item-buy-5" ng-click="game.buyItem(item, 10)">
								+10
							</div>
							<div class="item-buy item-buy-20" ng-click="game.buyItem(item, 100)">
								+100
							</div>
							<div class="item-buy item-buy-100" ng-click="game.buyItem(item, 1000)">
								+1000
							</div>
							<div class="item-name">
								{{item}}{{game.isPlural(game.items[item].count, item)}}
							</div>
							<div class="item-count">
								{{game.prettyIntCompact(game.items[item].count)}}
							</div>
						</div>
						<!-- item content -->
						<div class="item-middle">
							<div class="item-stats">
								<div class="item-stat {{game.items[item].isZero('discovery')}} discovery">Discovery</div>
								<div class="item-stat {{game.items[item].isZero('swiftness')}} swiftness">Swiftness</div>
								<div class="item-stat {{game.items[item].isZero('power')}} power">Power</div>
								<div class="item-stat {{game.items[item].isZero('agility')}} agility">Agility</div>
								<div class="item-stat {{game.items[item].isZero('income')}} income">Income</div>
							</div>
							<div class="item-stat-values">
								<div class="item-stat-value {{game.items[item].isZero('discovery')}} discovery">
									{{game.prettyIntCompact(game.items[item].discovery)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('swiftness')}} swiftness">
									{{game.prettyIntCompact(game.items[item].swiftness)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('power')}} power">
									{{game.prettyIntCompact(game.items[item].power)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('agility')}} agility">
									{{game.prettyIntCompact(game.items[item].agility)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('income')}} income">
									{{game.prettyIntCompact(game.items[item].income)}}
								</div>
							</div>
						</div>
						<!-- item upgrade -->
						<div class="item-right">
							<div class="item-upgrade-container">
								<div class="upgrade-wrapper">
									<div ng-repeat="upgradeAvailable in game.items[item].upgradesAvailable.slice(0, 1)" class="upgrade container" ng-click="game.buyUpgrade(upgradeAvailable)">
										<div class="upgrade-stats">
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('discovery')}}">
													+{{game.upgrades[upgradeAvailable].discovery}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('swiftness')}}">
													+{{game.upgrades[upgradeAvailable].swiftness}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('power')}}">
													+{{game.upgrades[upgradeAvailable].power}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('agility')}}">
													+{{game.upgrades[upgradeAvailable].agility}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('income')}}">
													+{{game.upgrades[upgradeAvailable].income}}
											</div>
										</div>
										<div class="upgrade-image" style="background-image:url({{game.getItemImageUrl(upgradeAvailable)}})">
											<div class="upgrade-cost">
												<i class="fa fa-database fa-sm icon-gold"></i>
												{{game.prettyIntCompact(game.upgrades[upgradeAvailable].cost)}}
											</div>
											<div class="upgrade-name">
												{{upgradeAvailable}}
											</div>
										</div>
									</div>
								</div>
								<div class="item-upgrades-wrapper">
									<div class="item-upgrades">
										<div ng-repeat="upgrade in game.items[item].upgrades" style="background-image:url({{game.getItemImageUrl(upgrade)}})" class="item-upgrade button"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="item-divider"></div>
					</div>
				</div>
				<!-- locked items -->
				<div ng-repeat="item in game.getObjectsByStatus(game.items, game.LOCKED)" class="item item-locked container">
					<!-- item image -->
					<div class="item-left">
						<div class="item-locked-image"><i class="fa fa-lock"></i> Level {{game.items[item].level}}</div>
					</div>
					<div class="item-divider"></div>
				</div>
			</div>
			<!-- timer and spells -->
			<div id="column-3" class="column">
				<div id="reset-container">
					<div id="reset-button" class="button" ng-click="game.reset()">Reset <i class="fa fa-refresh"></i></div>
					<div id="time-container">
						<div id="time">
							Time
						</div>
						<br/>
						<div id="time-value">
							{{game.getRoundedTime()}}
						</div>
					</div>
				</div>
				<div id="spells-container">
					<div ng-repeat="spell in game.getObjectsByStatus(game.spells)" class="spell container {{game.getClassName(spell)}}" ng-click="game.spellClick(spell)"
							 data-status="{{game.spells[spell].status}}" data-type="{{game.spells[spell].type}}">
						<div class="spell-wrapper" data-toggle="tooltip" data-title="{{game.spells[spell].tooltip(game)}}">
							<div class="spell-image" style="background-image:url({{game.getSpellImageUrl(spell)}})"></div>
							<div class="spell-image-overlay" style="height: {{game.getSpellTimePercent(spell)}}%"></div>
							<div class="spell-locked-image"><i class="fa fa-2x fa-lock"></i></div>
							<div class="spell-cooldown">{{game.spells[spell].cooldownLeft.toFixed(0)}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
