<!DOCTYPE html>
<html>
<head>
<title>Chime Clicker</title>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery.tooltipster.js"></script>
<script src="js/vendor/jquery.hotkeys.js"></script>
<script src="js/vendor/jquery.simplemodal.1.4.4.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/ng-order-object-by.js"></script>
<script src="js/vendor/jsonh.js"></script>
<script src="js/vendor/lz-string.min.js"></script>
<script src="js/main.js"></script>
<script src="js/game.js"></script>
<script src="js/classes/achievement.js"></script>
<script src="js/classes/item.js"></script>
<script src="js/classes/mastery.js"></script>
<script src="js/classes/monster.js"></script>
<script src="js/classes/rune.js"></script>
<script src="js/classes/spell.js"></script>
<script src="js/classes/upgrade.js"></script>
<link rel="shortcut icon" href="favicon.ico" type="image/icon">
<link rel="icon" href="favicon.ico" type="image/icon">
<link href="stylesheets/output.css" rel="stylesheet" type="text/css">
<link href="stylesheets/tooltipster.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Rajdhani:400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72528817-1', 'auto');
ga('send', 'pageview');

</script>

</head>
<body ng-app="GameApp" ng-controller="GameController">
<div id="wrapper">
	<div id="header" class="container title">
		<a id="header-home" class="header-link" href="index.html">
			<img id="header-icon" src="images/Mask_negative.png"></img>
			Chime Clicker
		</a>
		<div id="header-link-container">
			<div id="header-menu" class="header-link">
				<i class="fa fa-bars"></i>
			</div>
			<div id="header-save" class="header-link" ng-click="game.save()">
				<i class='fa fa-save'></i>
			</div>
			<div id="header-issues" class="header-link" onclick="showSubpage('issues')">
				Issues
			</div>
			<div id="header-about" class="header-link" onclick="showSubpage('about')">
				About
			</div>
			<div id="header-help" class="header-link" onclick="showSubpage('help')">
				Help
			</div>
			<a id="header-stats" class="header-link">
				Stats
			</a>
		</div>
	</div>
	<div id="main-container" class="container">
		<div class="row">
			<div id="column-1" class="column">
				<div id="meeps-row" class="row">
					<div id="meeps-container" class="container">
						<div id="ghost-pulse" class="pulse {{game.spells['Ghost'].status == ACTIVE ? 'active': ''}}"></div>
						<div id="meeps-status" class="status {{game.spells['Flash'].status == ACTIVE ? 'flash-active' : '';}}">
							<div id="meeps-wrapper" data-toggle="tooltip" data-title="Collect chimes to earn meeps.  Meeps grant {{game.meepDamage}} Damage." data-position="right">
								<text>
									{{game.prettyInt(game.meeps)}}
								</text>
								<text id="meeps" class="title">
									Meep{{game.isPlural(game.meeps)}}
								</text>
							</div>
						</div>
						<div id="chimes-bar-dropdown" class="dropdown">
							<div class="dropdown-content">
								<div id="chimes-bar" class="bar {{game.spells['Ghost'].status == ACTIVE ? 'ghost-active' : '';}}">
									<div id="chimes-bar-fill" class="bar-fill" style="width:{{game.getMeepProgressPercent()}}%"></div>
									<div id="chimes-rate" data-toggle="tooltip" data-title="Chimes collected per second." data-position="right">
										CPS {{game.prettyIntVariable(game.chimesRate)}}
									</div>
									<div id="chimes-progress" data-toggle="tooltip" data-title="Chimes for next meep." data-position="left">
										{{game.prettyIntCompact(game.chimes)}}/{{game.prettyIntCompact(game.chimesPerMeepFloor)}}	chimes
									</div>
								</div>
							</div>
							<div class="dropdown-button">
								<i class="fa fa-angle-up fa-lg rotate"></i>
							</div>
						</div>
					</div>
					<div id="chimes-container" class="container">
						<div id="chimes-count-container">
							<div id="chimes-count">
								Chimes: {{game.prettyIntVariable(game.chimesCollected)}}
							</div>
						</div>
						<div id="chimes-button-wrapper" class="click-button-wrapper">
							<div id="chimes-button-holder" class="click-button-holder">
								<div id="flash-ring" class="ring"></div>
							</div>
							<div id="chimes-button" class="click-button button touch-target"></div>
						</div>
					</div>
				</div>

				<div id="monster-row" class="row">
					<div id="damage-container" class="container">
						<div id="exhaust-pulse" class="pulse {{game.spells['Exhaust'].status == ACTIVE ? 'active': ''}}"></div>
						<div id="smite-pulse" class="pulse {{game.spells['Smite'].status == ACTIVE ? 'active': ''}}"></div>
						<div id="damage-status" class="status">
							<div id="monster-selector" class="selector {{game.isFirstMonster()}} {{game.isLastMonster()}}">
								<div class="selector-button selector-left touch-target">
									<i class="fa fa-angle-left"></i>
								</div>
								<div class="selector-content">
									<div id="monster-name">
										{{game.monster}}
									</div>
									<div id="monster-gold" data-toggle="tooltip" data-title="Gold on kill." data-position="right">
										<i class="fa fa-database fa-sm icon-gold"></i>
										{{game.prettyIntCompact(game.monsters[game.monster].gold)}}
									</div>
									<div id="monster-experience" data-toggle="tooltip" data-title="Experience on kill." data-position="left">
										{{game.prettyIntCompact(game.monsters[game.monster].experience)}} xp
									</div>
								</div>
								<div class="selector-button selector-right touch-target">
									<i class="fa fa-angle-right"></i>
								</div>
							</div>
						</div>
						<div id="damage-bar-dropdown" class="dropdown">
							<div class="dropdown-content">
								<div id="damage-bar" class="bar {{game.spells['Smite'].status != ACTIVE ? '' : game.isMonsterChampion(game.monster) ? 'challenging-active' : 'smite-active'}} {{game.spells['Exhaust'].status == ACTIVE ? 'exhaust-active' : '';}}">
									<div id="damage-bar-fill" class="bar-fill" style="width:{{game.getMonsterHealthPercent()}}%"></div>
									<div id="damage-rate" data-toggle="tooltip" data-title="Damage dealt per second." data-position="right">
										DPS {{game.prettyIntVariable(game.damageRate)}}
									</div>
									<div id="damage-progress">
										{{game.prettyIntCompact(game.monsters[game.monster].currentHealth)}} / {{game.prettyIntCompact(game.monsters[game.monster].maxHealth)}} hp
									</div>
								</div>
							</div>
							<div class="dropdown-button">
								<i class="fa fa-angle-up fa-lg rotate"></i>
							</div>
						</div>
					</div>
					<div id="monster-container" class="container">
						<div id="monster-kill-count-container">
							<div id="monster-kill-count">
								Kills: {{game.prettyIntVariable(game.monsters[game.monster].count)}}
							</div>
						</div>
						<div id="monster-button-wrapper" class="click-button-wrapper">
							<div id="monster-button-holder" class="click-button-holder">
								<!-- <div id="teemo-ring" class="ring" ng-style="{display: game.monster == 'Teemo' && !game.won ? 'block' : 'none'}"></div> -->
								<div id="spoils-ring" class="ring"></div>
								<div id="tribute-ring" class="ring"></div>
								<div id="smite-ring" class="ring"></div>
								<div id="ignite-ring-1" class="ring"></div>
								<div id="ignite-ring-2" class="ring"></div>
							</div>
							<div id="monster-button" class="click-button button touch-target" ng-style="{'background-image':'url(' + game.getMonsterImageUrl(game.monster) +')'}"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- game status and items -->
			<div id="column-2" class="column">
				<div id="game-status">
					<div id="game-status-wrapper">
						<div id="game-status-top">
							<div id="gold-status">
								<div id="gold-value">
									<i class="fa fa-database fa-sm icon-gold"></i>
									{{game.prettyIntVariable(game.gold, 3)}}
								</div>
								<div id="income-value">
									<div>Income</div>
									<i class="fa fa-database fa-sm icon-gold"></i>
									{{game.prettyInt(game.income)}}
								</div>
							</div>
							<div id="game-stats">
								<div id="defenseStat-value" class="game-stat game-stat-top game-stat-left">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Chimes collected per click.">
										<div class="game-stat-name">{{game.getStatNameVariable('Defense', 100)}}</div> {{game.prettyIntCompact(game.defenseStat)}}
									</div>
								</div>
								<div id="damageStat-value" class="game-stat game-stat-top game-stat-right {{game.spells['Ignite'].status == ACTIVE ? 'ignite-active' : '';}}">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Damage dealt per click.">
										<div class="game-stat-name">{{game.getStatNameVariable('Damage', 100)}}</div> {{game.prettyIntCompact(game.damageStat)}}
									</div>
								</div>
								<div id="movespeedStat-value" class="game-stat game-stat-bottom game-stat-left">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Chime clicks per second.">
										<div class="game-stat-name">{{game.getStatNameVariable('Move speed', 100)}}</div> {{game.prettyIntCompact(game.movespeedStat)}}
									</div>
								</div>
								<div id="attackrateStat-value" class="game-stat game-stat-bottom game-stat-right">
									<div class="game-stat-wrapper" data-toggle="tooltip" data-title="Damage clicks per second.">
										<div class="game-stat-name">{{game.getStatNameVariable('Attack rate', 100)}}</div> {{game.prettyIntCompact(game.attackrateStat)}}
									</div>
								</div>
							</div>
						</div>
						<div id="level" class="title {{game.getLevelText()}} {{game.won ? 'won' : ''}}" data-toggle="tooltip" data-title="Level up to unlock new items, spells, and monsters.">
							{{game.getLevelText()}}
							<div id="chime-points">Chime<br/>Points</div>
						</div>
						<div id="experience-bar" class="bar {{game.won ? 'won' : ''}}">
							<div id="experience-bar-fill" class="bar-fill" style="width:{{game.getExperiencePercent()}}%"></div>

							<div id="experience-progress" data-toggle="tooltip" data-title="Experience for next level." data-position="left">
								{{game.getExperienceText()}}
							</div>
						</div>
					</div>
				</div>
				<div id="items-container">
					<!-- unlocked items -->
					<div ng-repeat="item in game.getObjectsByStatus(game.items)" class="item container" data-status="{{game.items[item].status}}">
						<!-- item image -->
						<div class="item-left touch-target" ng-click="game.buyItem(item)">
							<div class="item-cost">
								<i class="fa fa-database fa-sm icon-gold"></i>
								{{game.prettyIntCompact(game.items[item].cost)}}
							</div>
							<div ng-style="{'background-image':'url(' + game.getItemImageUrl(item) + ')'}" class="item-image">
							</div>
							<div class="item-left-shadow">
							</div>
						</div>
						<!-- item header -->
						<div class="item-header">
							<div class="item-buy item-buy-5 touch-target" ng-click="game.buyItem(item, 10)" data-toggle="tooltip" data-title="<i class='fa fa-database fa-sm icon-gold'></i> {{game.prettyIntCompact(game.items[item].cost10)}}" data-position="top">
								+10
							</div>
							<div class="item-buy item-buy-20 touch-target" ng-click="game.buyItem(item, 100)" data-toggle="tooltip" data-title="<i class='fa fa-database fa-sm icon-gold'></i> {{game.prettyIntCompact(game.items[item].cost100)}}" data-position="top">
								+100
							</div>
							<div class="item-buy item-buy-100 touch-target" ng-click="game.buyItem(item, 1000)" data-toggle="tooltip" data-title="<i class='fa fa-database fa-sm icon-gold'></i> {{game.prettyIntCompact(game.items[item].cost1000)}}" data-position="top">
								+1000
							</div>
							<div class="item-name">
								{{item + game.isPlural(game.items[item].count, item)}}
							</div>
							<div class="item-count">
								{{game.prettyIntCompact(game.items[item].count)}}
							</div>
						</div>
						<!-- item content -->
						<div class="item-middle">
							<div class="item-stats">
								<div class="item-stat {{game.items[item].isZero('defenseStat')}} defenseStat">Defense</div>
								<div class="item-stat {{game.items[item].isZero('movespeedStat')}} movespeedStat">Move speed</div>
								<div class="item-stat {{game.items[item].isZero('damageStat')}} damageStat">Damage</div>
								<div class="item-stat {{game.items[item].isZero('attackrateStat')}} attackrateStat">Attack rate</div>
								<div class="item-stat {{game.items[item].isZero('income')}} income">Income</div>
							</div>
							<div class="item-stat-values">
								<div class="item-stat-value {{game.items[item].isZero('defenseStat')}} defenseStat">
									{{game.prettyIntCompact(game.items[item].defenseStat)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('movespeedStat')}} movespeedStat">
									{{game.prettyIntCompact(game.items[item].movespeedStat)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('damageStat')}} damageStat">
									{{game.prettyIntCompact(game.items[item].damageStat)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('attackrateStat')}} attackrateStat">
									{{game.prettyIntCompact(game.items[item].attackrateStat)}}
								</div>
								<div class="item-stat-value {{game.items[item].isZero('income')}} income">
									{{game.prettyIntCompact(game.items[item].income)}}
								</div>
							</div>
						</div>
						<!-- item upgrade -->
						<div class="item-right">
							<div class="item-upgrade-container">
								<div class="upgrade-wrapper">
									<div ng-repeat="upgradeAvailable in game.items[item].upgradesAvailable.slice(0, 1)" class="upgrade container touch-target" ng-click="game.buyUpgrade(upgradeAvailable)">
										<div class="upgrade-stats">
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('defenseStat')}}">
													+{{game.upgrades[upgradeAvailable].defenseStat}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('movespeedStat')}}">
													+{{game.upgrades[upgradeAvailable].movespeedStat}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('damageStat')}}">
													+{{game.upgrades[upgradeAvailable].damageStat}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('attackrateStat')}}">
													+{{game.upgrades[upgradeAvailable].attackrateStat}}
											</div>
											<div class="upgrade-stat {{game.upgrades[upgradeAvailable].isZero('income')}}">
													+{{game.upgrades[upgradeAvailable].income}}
											</div>
										</div>
										<div class="upgrade-image" ng-style="{'background-image':'url(' + game.getItemImageUrl(upgradeAvailable) + ')'}">
											<div class="upgrade-cost">
												<i class="fa fa-database fa-sm icon-gold"></i>
												{{game.prettyIntCompact(game.upgrades[upgradeAvailable].cost)}}
											</div>
											<div class="upgrade-name">
												{{upgradeAvailable}}
											</div>
										</div>
									</div>
								</div>
								<div class="item-upgrades-wrapper">
									<div class="item-upgrades">
										<div ng-repeat="upgrade in game.items[item].upgrades" ng-style="{'background-image':'url(' + game.getItemImageUrl(upgrade) + ')'}" class="item-upgrade"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="item-divider"></div>
					</div>
					<!-- locked items -->
					<div ng-repeat="item in game.getObjectsByStatus(game.items, LOCKED)" class="item item-locked container">
						<!-- item image -->
						<div class="item-left">
							<div class="item-locked-image"><i class="fa fa-lock"></i> Level {{game.items[item].level}}</div>
						</div>
						<div class="item-divider"></div>
					</div>
				</div>
			</div>
			<!-- timer and spells -->
			<div id="column-3" class="column">
				<div id="restart-container">
					<div id="time-container">
						<div id="difficulty" class="touch-target">
							{{game.difficulty.capitalize()}} <i class="fa fa-angle-down"></i>
						</div>
						<br/>
						<div id="time">
							{{game.prettyTime(game.timePlayed)}}
						</div>
					</div>
				</div>
				<div id="spells-container">
					<div id="version-container">v {{version}}</div>
					<div ng-repeat="spell in game.getObjectsByStatus(game.spells)" class="spell container {{game.getClassName(spell)}}"
							 data-status="{{game.spells[spell].status}}" data-type="{{game.spells[spell].type}}">
						<div class="spell-wrapper touch-target" data-toggle="tooltip" data-title="{{game.spells[spell].tooltip(game)}}" ng-click="game.spellClick(spell)">
							<div class="spell-image" ng-style="{'background-image':'url(' + game.getSpellImageUrl(spell) + ')'}"></div>
							<div class="spell-image-overlay" style="height: {{game.getSpellTimePercent(spell)}}%"></div>
							<div class="spell-locked-image"><i class="fa fa-2x fa-lock"></i></div>
							<div class="spell-time">{{game.spells[spell].getSpellTime()}}</div>
							<div class="spell-text" ng-if="spell == 'Smite'" data-smite="{{game.isMonsterChampion(game.monster) ? 'challenging' : 'smite'}}">
								{{game.prettyIntCompact(game.getSmiteDamage())}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="subpage-panel">
			</div>
		</div>
	</div>
</div>

<div id="modal-holder" style="display:none;">
	<div id="difficulty-modal" class="modal">
		<div id="difficulty-modal-body">
			<div ng-repeat="difficulty in DIFFICULTIES" class="{{difficulty == game.difficulty ? 'hide': ''}} difficulty-button" ng-click="game.showNewGameModal(false, difficulty)">{{difficulty.capitalize()}}</div>
		</div>
	</div>

	<div id="menu-modal" class="modal">
		<div id="menu-modal-body">
			<div class="menu-button button touch-target" ng-click="game.showNewGameModal(false)"><i class='fa fa-undo'></i> New Game</div>
			<div class="menu-button button touch-target" ng-click="game.pauseGame()"><i class='fa fa-pause'></i> {{game.paused ? 'Unpause' : 'Pause'}} Game</div>
			<div class="menu-button button touch-target" ng-click="game.exportGame()"><i class="fa fa-upload"></i> Export Save</div>
			<div class="menu-button button touch-target" onclick="showImportModal()"><i class="fa fa-download"></i> Import Save</div>
			<div class="menu-button button touch-target" ng-click="game.showNewGameModal(true)"><i class='fa fa-trash'></i> Hard Reset</div>
		</div>
	</div>



	<div id="progress-modal" class="modal">
		<div id="progress-modal-header" class="modal-header">Statistics
			<div class="close-icon" onclick="hideModal()">&times;</div>
		</div>
		<div id="progress-modal-body" class="modal-body">
			<div id="progress-modal-body-container">
				<div class="progress-modal-column">
					<div class="progress-modal-title">General</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Chimes Collected </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.totalChimes)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Clicked Chimes </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.clickChimes)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Chime Clicks </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.chimeClicks)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Meeps Earned </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.totalMeeps)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Damage Dealt </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.totalDamage)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Clicked Damage </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.clickDamage)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Damage Clicks </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.damageClicks)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Gold Earned </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.goldEarned)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Gold Spent </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.goldSpent)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Experience Earned </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.experienceEarned)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Time Played </div>
						<div class="progress-stat-value">{{game.prettyTime(game.progress.general.timePlayed)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Total Clicks </div>
						<div class="progress-stat-value">{{game.prettyIntCompact(game.progress.general.totalClicks)}}</div>
					</div>
					<div class="progress-stat-container">
						<div class="progress-stat">Chime Points</div>
						<div class="progress-stat-value">{{game.progress.general.chimePoints.toFixed(1)}}</div>
					</div>
					<div class="progress-modal-spacer"></div>

					<div class="progress-modal-title">Wins</div>
					<div ng-repeat="object in game.progress.wins | orderObjectBy: 'order' track by object.order" class="progress-stat-container progress-win">
						<div class="progress-stat">{{object.difficulty.capitalize()}}</div>
						<div class="progress-stat-value">{{object.count}}</div>
					</div>
					<div class="progress-modal-spacer"></div>

					<div class="progress-modal-title">Fastest Times</div>
					<div ng-repeat="object in game.progress.times | orderObjectBy: 'order' track by object.order" class="progress-stat-container progress-time">
						<div class="progress-stat">{{object.difficulty.capitalize()}}</div>
						<div class="progress-stat-value">{{object.count > 0 ? game.prettyTime(object.count) : '--'}}</div>
					</div>
				</div>

				<div class="progress-modal-column">
					<div class="progress-modal-title">Items Bought</div>
					<div ng-repeat="object in game.progress.items | orderObjectBy: 'order' track by object.order" data-status="{{game.items[indexToItem(object.item)].status}}" class="{{game.isZero(object.count)}} progress-stat-container progress-item">
						<div class="progress-stat">{{indexToItem(object.item) + game.isPlural(2, indexToItem(object.item))}}</div>
						<div class="progress-stat-value">{{game.prettyIntCompact(object.count)}}</div>
					</div>
					<div class="progress-modal-spacer"></div>

					<div class="progress-modal-title">Monsters Killed</div>
					<div ng-repeat="object in game.progress.monsters | orderObjectBy: 'order' track by object.order" data-status="{{game.monsters[indexToMonster(object.monster)].status}}" class="{{game.isZero(object.count)}} progress-stat-container progress-monster">
						<div class="progress-stat">{{indexToMonster(object.monster) + game.isPlural(2, indexToMonster(object.monster))}}</div>
						<div class="progress-stat-value">{{game.prettyIntCompact(object.count)}}</div>
					</div>
					<div class="progress-modal-spacer"></div>

					<div class="progress-modal-title">Spells Used</div>
					<div ng-repeat="object in game.progress.spells | orderObjectBy: 'order' track by object.order" data-status="{{game.spells[indexToSpell(object.spell)].status}}" class="{{game.isZero(object.count)}} progress-stat-container progress-spell">
						<div class="progress-stat">{{indexToSpell(object.spell)}}</div>
						<div class="progress-stat-value">{{game.prettyIntCompact(object.count)}}</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="newgame-modal" class="modal">
		<div id="newgame-modal-body" class="modal-body">
			<div id="newgame-modal-body-container">
				<div id="newgame-modal-text"></div>
				<div id="newgame-modal-button-container" class="modal-button-container">
					<div id="newgame-cancel" class="modal-button" onclick="hideModal()">Cancel</div>
					<div ng-repeat="difficulty in DIFFICULTIES" class="{{difficulty != game.newGameDifficulty || game.newGameReset ? 'hide': ''}} newgame-confirm modal-button" ng-click="game.newGame(false, difficulty)">New Game</div>
					<div class="{{!game.newGameReset ? 'hide': ''}} newgame-confirm modal-button" ng-click="game.newGame(true, game.difficulty)">Reset</div>
				</div>
			</div>
		</div>
	</div>

	<div id="win-modal" class="modal">
		<div id="win-modal-header" class="modal-header">You Win!
			<div class="close-icon" onclick="hideModal()">&times;</div>
		</div>
		<div id="win-modal-body" class="modal-body">
			<div id="win-modal-body-container">
				<div id="win-modal-text">Congratulations you killed Satan!<br/><br/> Feel free to rack up some more Teemo kills before restarting, or begin a new game now.  The more times Teemo dies before you end this game, the more Chime Points (CP) you&#8217;ll earn.  Right now CP&#8217;s don't do anything but I promise they will soon&trade;!</div>
				<div id="win-modal-button-container" class="modal-button-container">
					<div id="win-cancel" class="modal-button" onclick="hideModal()">Keep Killing Teemo</div>
					<div class="win-confirm modal-button" ng-click="game.newGame(false, game.difficulty)">Start Over</div>
				</div>
			</div>
		</div>
	</div>

	<div id="export-modal" class="modal">
		<div id="export-modal-header" class="modal-header">Export Save
			<div class="close-icon" onclick="hideModal()">&times;</div>
		</div>
		<div id="export-modal-body" class="modal-body">
			<div id="export-modal-body-container">
				<div id="export-modal-text"></div>
				<div id="export-modal-button-container" class="modal-button-container">
				</div>
			</div>
		</div>
	</div>

	<div id="import-modal" class="modal">
		<div id="import-modal-header" class="modal-header">Import Save
			<div class="close-icon" onclick="hideModal()">&times;</div>
		</div>
		<div id="import-modal-body" class="modal-body">
			<div id="import-modal-body-container">
				<textarea id="import-modal-text"></textarea>
				<div id="import-modal-button-container" class="modal-button-container">
					<div class="import-confirm modal-button" onclick="importGame()">Import</div>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>
