.bar {
  float: left;
  position: relative;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  background-color: #455a64;
  -webkit-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: color 250ms, background-color 333ms;
  -moz-transition: color 250ms, background-color 333ms;
  -o-transition: color 250ms, background-color 333ms;
  transition: color 250ms, background-color 333ms; }

.bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #848484;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.75) inset, 0px 0 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: height 333ms, box-shadow 333ms, background-color 333ms;
  -moz-transition: height 333ms, box-shadow 333ms, background-color 333ms;
  -o-transition: height 333ms, box-shadow 333ms, background-color 333ms;
  transition: height 333ms, box-shadow 333ms, background-color 333ms; }

#chimes-bar {
  width: 100%;
  height: 100%;
  line-height: 25px; }

#chimes-bar.ghost-active {
  color: #bef9fd;
  background-color: #082438; }
  #chimes-bar.ghost-active #chimes-bar-fill {
    background-color: #0b4d80; }

#chimes-rate {
  position: absolute;
  left: 5%;
  font-weight: bold; }

#chimes-progress {
  position: absolute;
  right: 5%;
  font-weight: bold; }

#damage-bar {
  width: 100%;
  height: 100%;
  line-height: 25px; }

#damage-bar.ignite-active {
  color: #f3de9d;
  background-color: #771a16; }
  #damage-bar.ignite-active #damage-bar-fill {
    background-color: #d1481a; }

#damage-rate {
  position: absolute;
  left: 5%;
  font-weight: bold; }

#damage-progress {
  position: absolute;
  right: 5%;
  font-weight: bold; }

#experience-bar {
  width: calc(100% - 75px);
  height: 25px;
  line-height: 25px; }

#experience-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }

#experience-progress {
  position: absolute;
  right: 15px;
  font-weight: bold; }

.dropdown {
  position: relative; }

.dropdown-content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 25px); }

.dropdown-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  background-color: #455a64;
  -webkit-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: box-shadow 333ms;
  -moz-transition: box-shadow 333ms;
  -o-transition: box-shadow 333ms;
  transition: box-shadow 333ms;
  cursor: pointer; }

.dropdown-button:hover {
  color: white;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.75); }

.dropdown-button:active {
  -webkit-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 8px -8px rgba(0, 0, 0, 0.75) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.75); }

.dropdown-button .down {
  padding-bottom: 3px; }

.rotate {
  -webkit-transition: all 333ms;
  -moz-transition: all 333ms;
  -o-transition: all 333ms;
  transition: all 333ms; }

.rotate.down {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1); }

#chimes-bar-dropdown,
#damage-bar-dropdown {
  z-index: 1;
  height: 25px; }
  #chimes-bar-dropdown .dropdown-content,
  #damage-bar-dropdown .dropdown-content {
    height: 25px; }
  #chimes-bar-dropdown .dropdown-button,
  #damage-bar-dropdown .dropdown-button {
    height: 25px;
    line-height: 25px; }

#chimes-bar-dropdown.collapsed .bar-fill,
#damage-bar-dropdown.collapsed .bar-fill {
  height: 0; }

.selector {
  position: relative; }

.selector-button {
  position: absolute;
  top: 0;
  width: 25px;
  height: 100%;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer; }

.selector-button:hover {
  color: white;
  -webkit-box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 4px 1px rgba(0, 0, 0, 0.75); }

.selector-button:active {
  -webkit-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.75); }

.selector-left {
  left: 0; }

.selector-content {
  position: absolute;
  top: 0;
  left: 25px;
  width: calc(100% - 50px);
  height: 100%; }

.selector-right {
  right: 0; }

#monster-selector {
  position: relative;
  height: 55px; }

#monster-name {
  line-height: 30px;
  font-size: 24px;
  font-weight: bold; }

#monster-selector.first .selector-left {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }
  #monster-selector.first .selector-left .fa {
    display: none; }

#monster-selector.last .selector-right {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }
  #monster-selector.last .selector-right .fa {
    display: none; }

#help-wrapper {
  padding: 36px 0 0 0; }
  #help-wrapper #header {
    min-width: 600px; }
  #help-wrapper #main-container {
    min-width: 600px; }
  #help-wrapper .row {
    color: white;
    background-color: black;
    height: calc(100vh - 36px);
    overflow: auto; }

#content {
  width: calc(100% - 80px);
  max-width: 950px;
  margin: auto;
  padding: 24px 40px;
  background-color: #171c1e; }
  #content h4 {
    color: #ffcc5f;
    margin-top: 4px;
    margin-bottom: 4px; }
  #content p {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 22px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  #content a {
    text-decoration: none;
    color: #3e9dff; }
  #content ul {
    list-style-type: none;
    padding-left: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0px; }
  #content .tooltip {
    font-weight: normal;
    color: #3e9dff;
    cursor: pointer; }

#about-wrapper {
  padding: 36px 0 0 0; }
  #about-wrapper #header {
    min-width: 600px; }
  #about-wrapper #main-container {
    min-width: 600px; }
  #about-wrapper .row {
    color: white;
    background-color: black;
    height: calc(100vh - 36px);
    overflow: auto; }

body {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", "Trebuchet MS", sans-serif;
  overflow-y: hidden; }

#wrapper {
  padding: 36px 0 0 0; }

#header {
  position: relative;
  z-index: 10;
  min-width: 950px;
  height: 36px;
  margin-top: -36px;
  color: white;
  font-size: 20px;
  line-height: 36px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #131313;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75); }
  #header #header-home {
    float: left;
    color: white;
    text-decoration: none; }
  #header #header-icon {
    float: left;
    height: 24px;
    padding: 6px 12px 6px 18px; }
  #header #header-link-container {
    float: right;
    margin-right: 60px;
    border-left: 1px solid black;
    border-right: 1px solid #191919; }
    #header #header-link-container .header-link {
      float: right;
      width: 90px;
      height: 100%;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-left: 1px solid #191919;
      border-right: 1px solid black; }
    #header #header-link-container .header-link:hover {
      background-color: #263238;
      color: white;
      border-left: 1px solid #263238; }
    #header #header-link-container .header-link:active {
      background-color: #1e272c;
      border-left: 1px solid #1e272c; }

#main-container {
  float: left;
  width: 100%;
  min-width: 950px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* ROWS & COLUMNS ///////////////////////////////////// */
.row {
  float: left;
  position: relative;
  width: 100%; }

.column {
  float: left;
  height: calc(100vh - 36px);
  overflow-y: auto; }

.column::-webkit-scrollbar {
  width: 8px; }

.column::-webkit-scrollbar-track {
  background-color: #212121; }

.column::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.7); }

.column::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; }

#column-1 {
  float: left;
  position: relative;
  z-index: 9;
  width: calc(30% + 30px);
  color: white;
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75); }

#column-2 {
  float: left;
  width: calc(70% - 120px);
  height: calc(100vh - 116px);
  margin-top: 80px;
  color: white;
  background-color: #171c1e; }

#column-3 {
  float: left;
  width: 90px;
  color: #eee;
  text-align: center;
  background-color: black;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.75) inset; }

#meeps-row {
  height: calc(40% + 70px);
  min-height: 325px; }

#monster-row {
  height: calc(60% - 70px);
  min-height: 325px; }

/* COLUMN CONTAINERS ///////////////////////////////////// */
.container {
  font-size: 16px; }

#meeps-container {
  float: left;
  width: 100%; }

#damage-container {
  float: left;
  width: 100%; }

#chimes-container {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  padding-top: 30px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/backgrounds/Summoners_Rift_Top.png);
  background-color: #ffffff; }

#monster-container {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  padding-top: 30px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/backgrounds/valley_1.png);
  background-color: #ffffff; }

/* STATUS CONTAINERS ///////////////////////////////////// */
.status {
  min-height: 55px;
  position: relative;
  z-index: 2;
  line-height: 55px;
  font-size: 32px;
  background-color: #263238;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75); }

#meeps-status {
  font-weight: bold;
  -webkit-transition: background-color 175ms;
  -moz-transition: background-color 175ms;
  -o-transition: background-color 175ms;
  transition: background-color 175ms; }

#meeps-status.flash-active {
  background-color: #e0d987; }

#meeps-wrapper {
  display: inline-block; }

#meeps {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal; }

#damage-status {
  position: relative;
  -webkit-transition: background-color 175ms;
  -moz-transition: background-color 175ms;
  -o-transition: background-color 175ms;
  transition: background-color 175ms; }

#damage-status.smite-active {
  background-color: #ffcc5f; }

#monster-gold {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: rgba(255, 255, 255, 0.7);
  line-height: 25px;
  font-size: 16px; }

#monster-experience {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: rgba(255, 255, 255, 0.7);
  line-height: 25px;
  font-size: 16px; }

#damage-stats {
  padding-top: 5px; }

/* GAME STATUS BAR ///////////////////////////////////// */
#game-status {
  position: absolute;
  top: 0;
  left: calc(30% + 30px);
  /* width of #column-1 */
  width: calc(70% - 120px);
  /* width of #column-2 */
  height: 80px;
  color: #eee;
  background-color: #263238;
  -webkit-box-shadow: 6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset; }

#game-status-wrapper {
  float: left;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset;
  box-shadow: -6px 3px 12px -6px rgba(0, 0, 0, 0.75) inset; }

#game-status-top {
  position: relative;
  z-index: 1;
  float: left;
  width: calc(100% - 75px);
  height: 55px;
  background-color: #263238;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75); }

#gold-status {
  float: left;
  padding-right: 10px; }

#gold-value {
  margin-top: 6px;
  margin-left: 12px;
  color: white;
  line-height: 28px;
  font-size: 28px;
  font-weight: bold; }

#income-value {
  float: left;
  margin: 1px 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold; }
  #income-value div {
    float: left;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal; }

#level {
  position: relative;
  z-index: 9;
  float: right;
  width: 75px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  background-color: #848484;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.75); }

#game-stats {
  float: right;
  width: 270px;
  height: 100%; }

.game-stat-wrapper {
  display: inline-block; }

.game-stat {
  float: left;
  font-size: 16px;
  font-weight: bold; }
  .game-stat .game-stat-name {
    float: left;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal; }

.game-stat-top {
  height: 50%;
  margin-top: 10px; }

.game-stat-bottom {
  height: 50%;
  margin-top: -10px; }

.game-stat-left {
  width: 55%; }
  .game-stat-left .game-stat-name {
    width: 70px; }

.game-stat-right {
  width: 45%; }
  .game-stat-right .game-stat-name {
    width: 45px; }

/* CLICK BUTTONS ///////////////////////////////////// */
.click-button-wrapper {
  position: absolute; }

.click-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: #111;
  -webkit-transition: box-shadow 100ms, top 100ms;
  -moz-transition: box-shadow 100ms, top 100ms;
  -o-transition: box-shadow 100ms, top 100ms;
  transition: box-shadow 100ms, top 100ms;
  -webkit-box-shadow: 0 20px 30px -19px white inset, 0 -20px 30px -18px black inset, 0 4px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 20px 30px -19px white inset, 0 -20px 30px -18px black inset, 0 4px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 30px -19px white inset, 0 -20px 30px -18px black inset, 0 4px 10px -2px rgba(0, 0, 0, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid black; }
  .click-button .counter {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; }

.click-button:hover {
  top: 8px;
  -webkit-box-shadow: 0 20px 30px -18px white inset, 0 -20px 36px -18px black inset, 0 6px 14px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0 20px 30px -18px white inset, 0 -20px 36px -18px black inset, 0 6px 14px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0 20px 30px -18px white inset, 0 -20px 36px -18px black inset, 0 6px 14px 0px rgba(0, 0, 0, 0.54); }

.click-button:active {
  top: 11px;
  -webkit-box-shadow: 0 20px 30px -20px white inset, 0 -20px 36px -18px black inset, 0 8px 8px -6px black;
  -moz-box-shadow: 0 20px 30px -20px white inset, 0 -20px 36px -18px black inset, 0 8px 8px -6px black;
  box-shadow: 0 20px 30px -20px white inset, 0 -20px 36px -18px black inset, 0 8px 8px -6px black;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid black; }

.click-button-holder {
  position: absolute;
  display: none;
  z-index: 0;
  border-radius: 50%;
  background-color: #263238;
  -webkit-box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.75); }

#chimes-button {
  background-image: url(images/Chimes_2x.png); }

/* ITEMS ///////////////////////////////////// */
.item {
  float: left;
  width: 100%;
  font-size: 14px;
  background-color: #171c1e; }

.item-divider {
  float: left;
  width: 100%;
  height: 1px;
  border-top: solid 1px black;
  background-color: #1e272c; }

.item-header {
  float: left;
  width: calc(100% - 110px);
  height: 30px; }

.item-count {
  float: right;
  margin: 5px 5px 0 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold; }

.item-name {
  float: right;
  margin: 8px 8px 0 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 22px;
  font-size: 14px; }

.item-buy {
  float: left;
  width: 50px;
  height: 25px;
  margin: 5px 5px 0 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border-radius: 1px;
  background-color: #263238;
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 100ms;
  -moz-transition: background-color 100ms;
  -o-transition: background-color 100ms;
  transition: background-color 100ms;
  cursor: pointer; }

.item-buy:hover {
  margin-top: 4px;
  color: white;
  background-color: #455a64;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }

.item-buy:active {
  margin-top: 5px;
  background-color: #455a64;
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset; }

.item-left {
  position: relative;
  float: left;
  width: 100px;
  margin: 5px;
  border-radius: 1px;
  background-color: #263238;
  -webkit-transition: background-color 100ms;
  -moz-transition: background-color 100ms;
  -o-transition: background-color 100ms;
  transition: background-color 100ms;
  cursor: pointer; }

.item-left:hover {
  background-color: #455a64;
  margin-top: 4px; }

.item-left:active {
  background-color: #455a64;
  margin-top: 5px; }

.item-left-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75); }

.item-left-shadow:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }

.item-left-shadow:active {
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset; }

.item-cost {
  float: left;
  padding-left: 5px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold; }

.item-image {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-size: cover; }

.item-locked .item-left {
  float: none;
  margin: 5px auto;
  width: 200px;
  text-align: center;
  cursor: default; }

.item-locked-image {
  width: 200px;
  height: 100px;
  color: rgba(255, 255, 255, 0.2);
  line-height: 100px;
  font-size: 24px;
  text-align: center;
  background-color: #171c1e;
  border-radius: 1px;
  -webkit-transition: color 150ms;
  -moz-transition: color 150ms;
  -o-transition: color 150ms;
  transition: color 150ms; }

.item-middle {
  float: left;
  width: 120px;
  height: 100px;
  margin-top: 8px;
  border-right: 1px solid black; }

.item-right {
  float: left;
  width: calc(100% - 232px);
  height: 100px;
  margin-top: 8px; }

.item-stats {
  float: left;
  width: 70px;
  text-align: right;
  font-size: 14px;
  line-height: 18px; }

.item-stat {
  color: white; }

.item-stat.item-zero {
  color: rgba(255, 255, 255, 0.2); }

.item-stat-values {
  float: right;
  width: 40px;
  height: 100%;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold; }

.item-stat-value.item-zero {
  color: rgba(255, 255, 255, 0.2); }

.item-upgrade-container {
  float: left;
  width: 100%;
  height: 100%;
  text-align: right; }

.item-upgrades-wrapper {
  float: left;
  width: calc(100% - 137px);
  height: 100%;
  overflow-x: auto;
  border-left: 1px solid #1e272c;
  border-right: 1px solid black; }

.item-upgrades-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

.item-upgrades-wrapper::-webkit-scrollbar-track {
  background-color: #212121; }

.item-upgrades-wrapper::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.7); }

.item-upgrades-wrapper::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; }

.item-upgrades {
  float: left;
  display: flex;
  flex-wrap: nowrap; }

.item-upgrade {
  float: left;
  width: 40px;
  height: 40px;
  margin: 30px 8px 0;
  border-radius: 20px;
  background-size: cover;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.75) inset; }

/* UPGRADES ///////////////////////////////////// */
.upgrade-wrapper {
  float: right;
  width: 126px;
  height: calc(100% - 10px);
  padding: 6px 4px 4px 4px;
  border-left: 1px solid #1e272c; }

.upgrade {
  float: right;
  width: 126px;
  height: 90px;
  font-size: 14px;
  background-color: #263238;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 100ms;
  -moz-transition: background-color 100ms;
  -o-transition: background-color 100ms;
  transition: background-color 100ms;
  cursor: pointer; }

.upgrade:hover {
  margin-top: -1px;
  background-color: #455a64;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }

.upgrade:active {
  margin-top: 0px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75) inset; }

.upgrade-stats {
  float: left;
  width: 30px;
  padding: 0 4px 0 2px;
  line-height: 18px;
  font-weight: bold;
  text-align: right; }

.upgrade-zero {
  color: rgba(255, 255, 255, 0.2); }

.upgrade-image {
  float: left;
  width: 90px;
  height: 90px; }

.upgrade-cost {
  float: left;
  width: 80px;
  margin-top: 50px;
  padding: 4px 5px 0 5px;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.87); }

.upgrade-name {
  float: left;
  width: 80px;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.87); }

/* SPELLS ///////////////////////////////////// */
#spells-container {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.spell {
  position: relative;
  float: left;
  width: 100%;
  height: 70px; }

.spell-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px auto 0 auto;
  border-radius: 1px; }

.spell[data-type='active'][data-status='1'] .spell-wrapper {
  cursor: pointer; }

.spell[data-type='active'][data-status='1'] .spell-wrapper:hover {
  width: 64px;
  height: 64px;
  margin-top: 8px; }

.spell[data-type='active'][data-status='1'] .spell-wrapper:active {
  width: 60px;
  height: 60px;
  margin-top: 10px; }

.spell[data-status='4'] .spell-wrapper {
  width: 64px;
  height: 64px;
  margin-top: 8px; }

.spell-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1px; }

.spell-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1px;
  -webkit-transition: background-color 250ms, height 100ms;
  -moz-transition: background-color 250ms, height 100ms;
  -o-transition: background-color 250ms, height 100ms;
  transition: background-color 250ms, height 100ms; }

.spell-locked-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: rgba(255, 255, 255, 0.2);
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1px;
  -webkit-transition: color 150ms, opacity 150ms;
  -moz-transition: color 150ms, opacity 150ms;
  -o-transition: color 150ms, opacity 150ms;
  transition: color 150ms, opacity 150ms; }

.spell-cooldown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 60px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.38); }

.spell[data-status='0'] .spell-image {
  display: none; }

.spell[data-status='0'] .spell-locked-image {
  opacity: 1;
  background-color: #171c1e; }

.spell[data-status='2'] .spell-locked-image {
  opacity: 1;
  color: rgba(255, 255, 255, 0.35); }

.spell[data-status='4'] .spell-image-overlay {
  background-color: rgba(255, 255, 255, 0.2); }

.spell[data-status='5'] .spell-image-overlay {
  background-color: rgba(0, 0, 0, 0.87); }

.spell[data-status='5'] .spell-cooldown {
  display: block; }

/* OTHER ///////////////////////////////////// */
#reset-container {
  float: left;
  width: 100%;
  height: 80px;
  background-color: black; }

#reset-button {
  float: left;
  width: calc(100% - 16px);
  height: 25px;
  margin: 8px 8px 0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border-radius: 1px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #263238;
  -webkit-transition: background-color 100ms, margin 100ms, color 100ms;
  -moz-transition: background-color 100ms, margin 100ms, color 100ms;
  -o-transition: background-color 100ms, margin 100ms, color 100ms;
  transition: background-color 100ms, margin 100ms, color 100ms; }
  #reset-button i {
    font-size: 13px; }

#reset-button:hover {
  background-color: #455a64;
  color: white; }

#reset-button:active {
  background-color: #455a64;
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75) inset; }

#time-container {
  float: left;
  width: 100%;
  padding: 5px 0;
  line-height: 20px;
  font-size: 16px; }
  #time-container #time {
    float: left;
    width: calc(100% - 16px);
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.7); }
  #time-container #time-value {
    float: left;
    width: calc(100% - 16px);
    padding: 0 8px;
    font-weight: bold; }

.gold-icon {
  background-image: url(images/Gold.gif);
  background-size: contain;
  background-repeat: no-repeat; }

.icon-gold {
  color: #ffc107 !important;
  font-size: .6em			!important;
  vertical-align: 12.5%		!important; }

.button {
  cursor: pointer; }

/* TOOLTIPS ///////////////////////////////////// */
.tooltipster-custom {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.7); }

.tooltipster-custom .tooltipster-content {
  font-size: 13px;
  line-height: 14px;
  padding: 6px 8px; }

.tooltipster-custom .tooltipster-content b {
  color: #ffc107; }

.tooltipster-custom .tooltip-image {
  border-radius: 2px; }
