@import 'variables';
@import 'mixins';

@import 'bar';
@import 'dropdown';
@import 'selector';

// CONTENT CONTAINERS //////////////////////////////////////
html {

}

body {
	padding: 0;
	margin: 0;

	font-family: "Rajdhani", "Trebuchet MS", sans-serif;
	overflow-y: hidden;
}

// body::-webkit-scrollbar {
//   width: 5px;
// }
//
// body::-webkit-scrollbar-track {
// 	background-color: rgba($black, .4);
// }
//
// body::-webkit-scrollbar-thumb {
//   background: rgba($gray100, .8);
// }
//
// body::-webkit-scrollbar-thumb:hover {
//   background: rgba($gray100, 1);
// }

.title {
}

#wrapper {
	padding: 36px 0 0 0;
}

#header {
	position: relative;
	z-index: 10;

	min-width: 885px;
	height: 36px;

	margin-top: -36px;

	color: $lightTextPrimary;
	font-size: 20px;
	line-height: 36px;

	background-color: $gray1100;
	@include box-shadow(0px 0px 12px 2px $boxShadow);

	#header-icon {
		float: left;

		height: 24px;

		padding: 6px 12px 6px 18px;
	}
}



#main-container {
	float: left;

	width: 100%;
	min-width: 950px;

	// TODO mixin
	cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ROWS & COLUMNS ///////////////////////////////////// */

.row {
	float: left;
	position: relative;

	width: 100%;
}

.column {
	float: left;

	height: calc(100vh - 36px);
	overflow-y: auto;
}

.column::-webkit-scrollbar {
  width: 8px;
}

.column::-webkit-scrollbar-track {
	background-color: rgba($gray900, 1);
}

.column::-webkit-scrollbar-thumb {
  background: rgba($gray100, .7);
}

.column::-webkit-scrollbar-thumb:hover {
  background: rgba($gray100, 1);
}

#column-1 {
	float: left;
	position: relative;
	z-index: 9;

	width: calc(30% + 30px);

	color: $lightTextPrimary;
	text-align: center;

	// background-repeat: no-repeat;
	// background-size: cover;
	// background-image: url(images/backgrounds/screenshot1_U.png);

	@include box-shadow(0px 0px 8px 1px $boxShadow);

}

#column-2 {
	float: left;

	width: calc(70% - 120px);
	height: calc(100vh - 116px); // header + status

	margin-top: 80px;

	color: $lightTextPrimary;

	// background-image: url(images/backgrounds/patterns/dark-cardboard.png);
	background-color: $primary1100;
}

#column-3 {
	float: left;

	width: 90px;

	color: #eee;
	text-align: center;

	background-color: $black;

	@include box-shadow(0px 2px 10px 1px $boxShadow inset);
}

#meeps-row {
	height: calc(40% + 70px);
	min-height: 325px;
}

#monster-row {
	height: calc(60% - 70px);
	min-height: 325px;
}


/* COLUMN CONTAINERS ///////////////////////////////////// */

.container {
	font-size: 16px;
}

#meeps-container {
	float: left;

	width: 100%;
}

#damage-container {
	float: left;

	width: 100%;
}

#chimes-container {
	float: left;
	position: relative;

	width: 100%;
	height: calc(100% - 80px);

	padding-top: 30px;
	margin-top: -30px;

	// TODO cleanup
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(images/backgrounds/Summoners_Rift_Top.png);
	background-color: #ffffff;
}

#monster-container {
	float: left;
	position: relative;

	width: 100%;
	height: calc(100% - 80px);

	padding-top: 30px;
	margin-top: -30px;

	// TODO cleanup
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(images/backgrounds/valley_1.png);
	background-color: #ffffff;
}

/* STATUS CONTAINERS ///////////////////////////////////// */

.status {
	min-height: 55px;

	position: relative;
	z-index: 2;

	line-height: 55px;
	font-size: 32px;

	background-color: $primary900;
	@include box-shadow(0 0 4px 1px $boxShadow);
}

#meeps-status {
	font-weight: bold;
	@include transition(background-color 175ms);
}

#meeps-status.flash-active {
	background-color: $flash;
}

#meeps-wrapper {
	display: inline-block;
}

#meeps {
	color: $lightTextSecondary;
	font-weight: normal;
}

#damage-status {
	position: relative;
	@include transition(background-color 175ms);
}

#damage-status.smite-active {
	background-color: $smite;
}

#monster-gold {
	position: absolute;
	bottom: 0;
	left: 10%;

	color: $lightTextSecondary;
	line-height: 25px;
	font-size: 16px;
}

#monster-experience {
	position: absolute;
	bottom: 0;
	right: 10%;

	color: $lightTextSecondary;
	line-height: 25px;
	font-size: 16px;
}

#chimes-stats {

}

#damage-stats {
	padding-top: 5px;
}

#monster-stats {

}

/* GAME STATUS BAR ///////////////////////////////////// */

#game-status {
	position: absolute;
	top: 0;
	left: calc(30% + 30px); /* width of #column-1 */

	width: calc(70% - 120px); /* width of #column-2 */
	height: 80px;

	color: #eee;

	background-color: $primary900;

	@include box-shadow(6px 3px 12px -6px $boxShadow inset);
}

#game-status-wrapper {
	float: left;

	width: 100%;
	height: 100%;

	@include box-shadow(-6px 3px 12px -6px $boxShadow inset);
}

#game-status-top {
	position: relative;
	z-index: 1;
	float: left;

	width: calc(100% - 75px);
	height: 55px;

	background-color: $primary900;
	@include box-shadow(0 0 4px 1px $boxShadow);
}

#gold-status {
	float: left;

	padding-right: 10px;
}

#gold-value {
	margin-top: 6px;
	margin-left: 12px;

	color: $lightTextPrimary;
	line-height: 28px;
	font-size: 28px;
	font-weight: bold;
}

#income-value {
	float: left;

	margin: 1px 0 0 10px;

	font-size: 16px;
	line-height: 20px;
	font-weight: bold;

	div {
		float: left;
		padding-right: 5px;
		color: $lightTextSecondary;
		font-weight: normal;
	}
}

#level {
	position: relative;
	z-index: 9;
	float: right;

	width: 75px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;

	background-color: $gray500;
	@include box-shadow(0 0 4px 1px $boxShadow);
}

#game-stats {
	float: right;

	width: 270px;
	height: 100%;
}

.game-stat-wrapper {
	display: inline-block;
}

.game-stat {
	float: left;

	font-size: 16px;
	font-weight: bold;

	.game-stat-name {
		float: left;

		color: $lightTextSecondary;
		font-weight: normal;
	}
}


.game-stat-top {
	height: 50%;

	margin-top: 10px;
}

.game-stat-bottom {
	height: 50%;

	margin-top: -10px;
}

.game-stat-left {
	width: 55%;

 	.game-stat-name {
		width: 70px;
	}
}

.game-stat-right  {
	width: 45%;

	.game-stat-name {
		width: 45px;
	}
}

/* CLICK BUTTONS ///////////////////////////////////// */

.click-button-wrapper {
	position: absolute;

}
.click-button {
	position: absolute;
	top: 10px;
	left: 10px;
	display:none;

	z-index: 1;

	border-radius: 50%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-color: #111;

	@include transition(box-shadow 100ms, top 100ms);

	@include box-shadow(0 20px 30px -19px $lightTextPrimary inset,
											0 -20px 30px -18px $black inset,
											0 4px 10px -2px $boxShadow);



	border-top: 1px solid $lightTextSecondary;
	border-bottom: 1px solid $black;

	.counter {
		position: absolute;

		font-size: 24px;
		font-weight: bold;

		text-shadow: 1px 1px 1px $black;
	}
}

.click-button:hover {
	top: 8px;
	@include box-shadow(0 20px 30px -18px $lightTextPrimary inset,
											0 -20px 36px -18px $black inset,
											0 6px 14px 0px $darkTextSecondary);
}

.click-button:active {
	top: 11px;

	@include box-shadow(0 20px 30px -20px $lightTextPrimary inset,
											0 -20px 36px -18px $black inset,
											0 8px 8px -6px $black);

	border-top: 1px solid $lightTextSecondary;
	border-bottom: 1px solid $black;
}

.click-button-holder {
	position: absolute;
	display: none;

	z-index: 0;

  border-radius: 50%;

  background-color: $primary900;
  @include box-shadow(inset 0px 1px 4px 1px $boxShadow);
}

#chimes-button {
	background-image: url(images/Chimes_2x.png);

}

#chimes-button:hover {
}

#chimes-button:active {
}

#monster-button {
}

#monster-button:hover {
}

#monster-button:active {
}

/* ITEMS ///////////////////////////////////// */
#items-container {

}

.item {
	float: left;

	width: 100%;

	font-size: 14px;

	background-color: $primary1100;
}


.item:hover {

}

.item-divider {
	float: left;

	width: 100%;
	height: 1px;

	border-top: solid 1px $dividerDark;
	background-color: $dividerLight;
}

.item-header {
	float: left;

	width: calc(100% - 110px);
	height: 30px;
}

.item-count {
	float: right;

	margin: 5px 5px 0 0;

	line-height: 25px;
	font-size: 18px;
	font-weight: bold;
}

.item-name {
	float: right;

	margin: 8px 8px 0 0;

	color: $lightTextSecondary;
	line-height: 22px;
	font-size: 14px;
}

.item-buy {
	float: left;

	width: 50px;
	height: $itemBuyButtonSize;

	margin: 5px 5px 0 0;

	color: $lightTextSecondary;
	font-size: 16px;
	line-height: $itemBuyButtonSize;
	text-align: center;
	border-radius: 1px;

	background-color: $primary900;
	@include box-shadow(0 0 2px 0px $boxShadow);
	@include transition(background-color 100ms);

	cursor: pointer;
}

.item-buy:hover {
	margin-top: 4px;

	color: $lightTextPrimary;

	background-color: $primary700;
	@include box-shadow(0 0 5px 1px $boxShadow);
}

.item-buy:active {
	margin-top: 5px;

	background-color: $primary700;
	@include box-shadow(0 0 2px 0px $boxShadow inset);
}

.item-left {
	position: relative;
	float: left;

	width: 100px;

	margin: 5px;

	border-radius: 1px;
	background-color: $primary900;
	@include transition(background-color 100ms);

	cursor: pointer;
}

.item-left:hover {
	background-color: $primary700;
	margin-top: 4px;
}

.item-left:active {
	background-color: $primary700;
	margin-top: 5px;
}

.item-left-shadow {
	position: absolute;

	width: 100%;
	height: 100%;

	border-radius: 1px;
	@include box-shadow(0 0 2px 0px $boxShadow);
}

.item-left-shadow:hover {
	@include box-shadow(0 0 5px 1px $boxShadow);
}

.item-left-shadow:active {
	@include box-shadow(0 0 2px 0px $boxShadow inset);
}


.item-cost {
	float: left;

	padding-left: 5px;

	font-size: 18px;
	line-height: $itemBuyButtonSize;
	font-weight: bold;
}

.item-image {
	float: left;

	width: 100px;
	height: 100px;

	border-radius: 1px;
	background-repeat: no-repeat;
	background-size: cover;
}
.item-locked .item-left {
	float: none;
	margin: 5px auto;

	width: 200px;

	text-align: center;

	cursor: default;
}

.item-locked-image {

	width: 200px;
	height: 100px;

	color: $lightTextDisabled;
	line-height: 100px;
	font-size: 24px;
	text-align: center;


	background-color: $primary1100;
	border-radius: 1px;
	@include transition(color 150ms);
}

.item-middle {
	float: left;

	width: 120px;
	height: 100px;

	margin-top: 8px;

	border-right: 1px solid $dividerDark;
}


.item-right {
	float: left;

	width: calc(100% - 232px);
	height: 100px;

	margin-top: 8px;

}

.item-stats {
	float: left;

	width: 70px;

	text-align: right;
	font-size: 14px;
	line-height: 18px;
}

.item-stat {
	color: $lightTextPrimary;
}

.item-stat.item-zero {
	color: $lightTextDisabled;
}

.item-stat-values {
	float: right;

	width: 40px;
	height: 100%;

	padding-left: 10px;

	text-align: left;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;

}

.item-stat-value.item-zero {
	color: $lightTextDisabled;
}

.item-upgrade-container {
	float: left;

	width: 100%;
	height: 100%;

	text-align: right;

}

.item-upgrades-wrapper {
	float: left;

	width: calc(100% - 137px);
	height: 100%;

	overflow-x: auto;

	border-left: 1px solid $dividerLight;
	border-right: 1px solid $dividerDark;
}

.item-upgrades-wrapper::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.item-upgrades-wrapper::-webkit-scrollbar-track {
	background-color: rgba($gray900, 1);
}

.item-upgrades-wrapper::-webkit-scrollbar-thumb {
  background: rgba($gray100, .7);
}

.item-upgrades-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba($gray100, 1);
}

.item-upgrades {
	float: left;
	display: flex;
	flex-wrap: nowrap;
}

.item-upgrade {
	float: left;

	width: 40px;
	height: 40px;

	margin: 30px 8px 0;
	border-radius: 20px;

	background-size: cover;
	@include box-shadow(0 0 2px 2px $boxShadow inset);
}

/* UPGRADES ///////////////////////////////////// */

.upgrade-wrapper {
	float: right;

	width: 126px;
	height: calc(100% - 10px);

	padding: 6px 4px 4px 4px;

	border-left: 1px solid $dividerLight;

}

.upgrade {
	float: right;

	width: 126px;
	height: 90px;

	font-size: 14px;

	background-color: $primary900;
	@include box-shadow(0 0 2px 0 $boxShadow);
	@include transition(background-color 100ms);

	cursor: pointer;
}

.upgrade:hover {
	margin-top: -1px;

	background-color: $primary700;
	@include box-shadow(0 0 5px 1px $boxShadow);
}

.upgrade:active {
	margin-top: 0px;

	@include box-shadow(0 0 2px 0 $boxShadow inset);
}

.upgrade-stats {
	float: left;

	width: 30px;

	padding: 0 4px 0 2px;

	line-height: 18px;
	font-weight: bold;
	text-align: right;
}

.upgrade-zero {
	color: $lightTextDisabled;
}

.upgrade-image {
	float: left;

	width: 90px;
	height: 90px;
}

.upgrade-cost {
	float: left;

	width: 80px;

	margin-top: 50px;
	padding: 4px 5px 0 5px;

	line-height: 16px;
	font-size: 16px;
	font-weight: bold;

	background-color: $darkTextPrimary;
}

.upgrade-name {
	float: left;

	width: 80px;
	height: 20px;

	padding: 0 5px;

	line-height: 20px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	background-color: $darkTextPrimary;
}

/* SPELLS ///////////////////////////////////// */

#spells-container {
	float: left;

	width: 100%;

	margin-bottom: 10px;
}

.spell {
	position: relative;
	float: left;

	width: 100%;
	height: 70px;
}

.spell-wrapper {
	position: relative;

	width: 60px;
	height: 60px;

	margin: 10px auto 0 auto;

	border-radius: 1px;
}

// AVAILABLE
.spell[data-type='active'][data-status='1'] .spell-wrapper {
	cursor: pointer;
}

// AVAILABLE:hover
.spell[data-type='active'][data-status='1'] .spell-wrapper:hover {
	width: 64px;
	height: 64px;
	margin-top: 8px;

}

// AVAILABLE:active
.spell[data-type='active'][data-status='1'] .spell-wrapper:active {
	width: 60px;
	height: 60px;
	margin-top: 10px;

}

// ACTIVE
.spell[data-status='4'] .spell-wrapper {
	width: 64px;
	height: 64px;
	margin-top: 8px;
}

.spell-image {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 1px;
}

.spell-image-overlay {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;

	background-color: $transparent;
	border-radius: 1px;
	@include transition(background-color 250ms, height 100ms);
}

.spell-locked-image {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	color: $lightTextDisabled;
	line-height: 80px;
	background-color: $boxShadow;

	border-radius: 1px;
	@include transition(color 150ms, opacity 150ms);
}

.spell-cooldown {
	display: none;
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	font-size: 24px;
  color: $lightTextSecondary;
	line-height: 60px;
	border-radius: 1px;
	background-color: $darkTextDisabled;
}

// LOCKED
.spell[data-status='0'] .spell-image {
	display: none;
}

// LOCKED
.spell[data-status='0'] .spell-locked-image {
	opacity: 1;
	background-color: $primary1100;
}

// UNAVAILABLE
.spell[data-status='2'] .spell-locked-image {
	opacity: 1;
	color: $lightTextTertiary;
}

// ACTIVE
.spell[data-status='4'] .spell-image-overlay {
	background-color: $lightTextDisabled;
}

// COOLDOWN
.spell[data-status='5'] .spell-image-overlay {
	background-color: $darkTextPrimary;
}

// COOLDOWN
.spell[data-status='5'] .spell-cooldown {
	display: block;
}

/* OTHER ///////////////////////////////////// */
#reset-container {
	float: left;

	width: 100%;
	height: 80px;

	background-color: $black;
}
#reset-button {
	float: left;

	width: calc(100% - 16px);
	height: $itemBuyButtonSize;

	margin: 8px 8px 0;

	font-size: 16px;
	font-weight: bold;
	line-height: $itemBuyButtonSize;
	text-align: center;
	border-radius: 1px;
	color: $lightTextSecondary;

	background-color: $primary900;
	@include transition(background-color 100ms, margin 100ms, color 100ms);

	i {
		font-size: 13px;
	}
}

#reset-button:hover {
	background-color: $primary700;
	color: $lightTextPrimary;
}

#reset-button:active {
	background-color: $primary700;
	@include box-shadow(0 0 2px 0px $boxShadow inset);
}

#time-container {
	float: left;

	width: 100%;

	padding: 5px 0;

	line-height: 20px;
	font-size: 16px;

	#time {
		float: left;

		width: calc(100% - 16px);

		padding: 0 8px;

		color: $lightTextSecondary;
	}

	#time-value {
		float: left;

		width: calc(100% - 16px);

		padding: 0 8px;

		font-weight: bold;
	}
}


.gold-icon {
	background-image: url(images/Gold.gif);
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-gold {
	color: $secondary500 	!important;
	font-size: .6em			!important;
	vertical-align: 12.5%		!important;
}

.button {
	cursor: pointer;
}

/* TOOLTIPS ///////////////////////////////////// */
.tooltipster-custom {
	border-radius: 3px;
	background: $darkTextPrimary;
	color: $lightTextSecondary;
}
.tooltipster-custom .tooltipster-content {
	font-size: 13px;
	line-height: 14px;
	padding: 6px 8px;
}

.tooltipster-custom .tooltipster-content b {
	color: $secondary500;
}
