@import 'variables';
@import 'mixins';

@import 'header';
@import 'help';
@import 'about';
@import 'issues';

@import 'tooltips';

body {
	padding: 0;
	margin: 0;

	font-family: "Rajdhani", "Trebuchet MS", sans-serif;
	overflow-y: hidden;
}

#main-container {
	float: right;

	width: 100%;
	height: 100vh;
;

	// TODO mixin
	cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
	float: left;
	position: relative;

	color: $lightTextPrimary;
	overflow: none;
}

#content {
	height: calc(100vh - 20px);
	overflow-y: auto;

  padding: 20px 40px 0 40px;

  h4 {
    color: $smite;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  p {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 22px;
    font-size: 14px;
		font-family: "Noto","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  a {
    text-decoration: none;
    color: $tertiary700;
  }

  ul {
    list-style-type: none;
    padding-left: 16px;
		font-family: "Noto","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0px;
  }

  .tooltip {
    font-weight: normal;
    color: $tertiary700;
    cursor: pointer;
  }
}

#content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

#content::-webkit-scrollbar-track {
	background-color: rgba($gray1000, 1);
}

#content::-webkit-scrollbar-thumb {
	background: rgba($gray100, .7);
}

#content::-webkit-scrollbar-thumb:hover {
	background: rgba($gray100, 1);
}

.subpage-close-button {
	position: absolute;
	top: 4px;
	right: 4px;

	padding: 3px 12px;
	font-size: 36px;
	line-height: 36px;

	color: $lightTextSecondary;
	@include transition(color 100ms);

	cursor: pointer;
}

.subpage-close-button:hover {
	color: $lightTextPrimary;
}
