#runes-modal-overlay {
	background-color: $boxShadow;
}

#runes-modal {
	color: $lightTextPrimary;
	background-color: $primary1000;
	border-radius: 1px;
	overflow: hidden;

	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@include box-shadow(0 0 6px 1px $boxShadow);
}

#runes-modal-header {
  height: 32px;
	padding: 6px 16px;

  line-height: 32px;
  font-size: 20px;

  .close-icon {
    padding: 0px 9px;
    margin-right: -8px;
    font-size: 32px;
  }
}

#runes-modal-body {
	height: 500px;

	padding: 0 0 0 0;

}

#runes-modal-body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

#runes-modal-body::-webkit-scrollbar-track {
	background-color: rgba($gray1000, 1);
}

#runes-modal-body::-webkit-scrollbar-thumb {
  background: rgba($gray100, .7);
}

#runes-modal-body::-webkit-scrollbar-thumb:hover {
  background: rgba($gray100, 1);
}

.runes-modal-spacer-v {
	width: 1px;

	background-color: $primary1100;
	border-right: solid 1px $primary900;
}

#runes-modal-body-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#active-runes-container {
	display: flex;
	align-items: flex-start;
	margin: 2px 6px;
}


.active-runes {
	display: flex;
	flex-wrap: wrap;
	width: 180px;

	padding: 0 6px;
}

#active-quints {
	width: 60px;
}

.active-runes-header {
	width: 100%;
	height: 4px;

	margin: 4px 0;
	@include box-shadow(0 1px 2px 0 $boxShadow);
}

#active-marks-header {
	background-color: $mark2;
}

#active-seals-header {
	background-color: $seal2;
}

#active-glyphs-header {
	background-color: $glyph2;
}

#active-quints-header {
	background-color: $quint2;
}

.active-rune {

	width: 44px;
	height: 44px;

	margin: 3px;
	padding: 5px;

	background-color: $primary1100;
	@include box-shadow(0 0 4px 0px $boxShadow inset);
}

.active-rune-image {

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;

	opacity: 1;
	@include transition(opacity 200ms);
}

.active-rune-image[data-status="0"] {
	opacity: 0;
}

.active-rune-image[data-status="1"] {
	opacity: 1;
	cursor: pointer;
}

#rune-info-container {
	display: flex;
	flex-wrap: wrap;
	width: calc(660px - 32px);
	padding: 8px 16px 16px 16px;
	min-height: 50px;
}

#rune-actions-container {
	display: flex;
	flex-direction: column;

	width: 136px;
	padding-left: 16px;

	#rune-clear-page,
	#rune-undo-changes,
	#rune-new-game {
		width: 100%;
		height: 30px;

		line-height: 30px;

		margin: 2px 0 6px 0;
		border-radius: 1px;

		color: $lightTextSecondary;
		text-align: center;
		background-color: $primary900;

		cursor: pointer;

		@include box-shadow(0 1px 3px -1px $boxShadow);
		@include transition(color 100ms, background-color 100ms, margin 100ms, box-shadow 100ms);

		i {
			font-size: 12px;
			margin-right: 4px;
		}
	}

	#rune-clear-page:hover,
	#rune-undo-changes:hover,
	#rune-new-game:hover {
		margin: 1px 0 7px 0;
		color: $lightTextPrimary;
		background-color: $primary700;

		@include box-shadow(0 2px 5px -1px $boxShadow);
	}
	#rune-clear-page:active,
	#rune-undo-changes:active,
	#rune-new-game:active {
		margin: 2px 0 6px 0;
		color: $lightTextPrimary;
		background-color: $primary900;

		@include box-shadow(0 1px 3px -1px $boxShadow);
	}

	#rune-clear-page.zero,
	#rune-undo-changes.zero,
	#rune-new-game.zero {
		color: $lightTextDisabled !important;
		background-color: $primary1000 !important;
		margin: 2px 0 6px 0 !important;

		cursor: default;

		@include box-shadow(0 1px 3px -1px $boxShadow !important);
	}

	#rune-chime-points {
		width: 100%;
		height: 30px;

		line-height: 30px;

		margin: 2px 0 6px 0;
		border-radius: 1px;

		color: $lightTextSecondary;
		text-align: center;

		background-color: $primary1100;
		@include box-shadow(0 0px 4px 0px $boxShadow inset);
	}
}

#rune-help-container {
	width: calc(660px - 32px - 136px - 16px);
	height: 20px;
}

#rune-help-text {
	line-height: 20px;
	font-size: 14px;
	color: $lightTextSecondary;

	#up-icon {
		color: $smite;
		font-size: 12px;
	}

	#down-icon {
		color: $challenging2;
		font-size: 12px;
	}
}

#rune-help-text.zero {
	display: none;
}

#rune-stats-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	width: calc(660px - 32px - 136px - 16px); //476px


	.rune-stat {
		display: flex;

		width: 230px;
		height: 16px;

		margin-bottom: 6px;
		padding-left: 5px;

		line-height: 16px;
		font-size: 14px;

		color: $lightTextSecondary;

		#up-icon,
		#down-icon {
			display: none;
			margin-top: 2px;
		}
	}

	.rune-stat.zero {
		display: none;
	}

	.rune-stat.positive {

		#up-icon {
			display: block;
			color: $smite;
		}
	}

	.rune-stat.negative {
		border-left-color: $challenging2;

		#down-icon {
			display: block;
			color: $challenging2;
		}
	}

	.rune-stat.zero.negative {
		display: flex;
		color: $lightTextDisabled;
	}

	.rune-stat-icon {
		width: 10px;
		text-align: left;
		font-size: 12px;

	}

	.rune-stat-value::before {
		content: "+";
	}

	.rune-stat.flat-stat .rune-stat-name{
		margin-left: 3px;
	}

	#rune-stats-none {
		display: none;
	}
	#rune-stats-none .rune-stat-value::before {
		content: "";
	}
	#rune-stats-none.zero {
		display: flex;
	}

}


#available-runes-container {
	display: flex;
	flex-direction: column;

	width: 660px;
}

#available-runes-header {
	display: flex;
	margin: 0 2px;
}

.available-runes-header-item {
	position: relative;
	width: 164px;
	height: 36px;

	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: $lightTextSecondary;
	cursor: pointer;

	@include transition(color 100ms);
}

.available-runes-header-item:first-child {
	border-left-color: $primary1000;
}

.available-runes-header-item:hover {
	color: $lightTextPrimary;
}

.available-runes-header-text {
	width: calc(100% - 4px);
	height: 100%;

	margin-left: 2px;
}

.active .available-runes-header-text {
	color: $lightTextPrimary;
}

.available-runes-header-bar {
	position: absolute;
	bottom: 0;
	left: 2px;
	width: 160px;
	height: 4px;

	@include box-shadow(0 2px 2px -1px $boxShadow);
	@include transition(background-color 100ms);
}

#available-runes-header-marks .available-runes-header-bar {
		background-color: $mark2;
}

#available-runes-header-seals .available-runes-header-bar {
		background-color: $seal2;
}

#available-runes-header-glyphs .available-runes-header-bar {
		background-color: $glyph2;
}

#available-runes-header-quints .available-runes-header-bar {
		background-color: $quint2;
}

#available-runes-header-marks:hover .available-runes-header-bar {
		background-color: $mark3;
}

#available-runes-header-seals:hover .available-runes-header-bar {
		background-color: $seal3;
}

#available-runes-header-glyphs:hover .available-runes-header-bar {
		background-color: $glyph3;
}

#available-runes-header-quints:hover .available-runes-header-bar {
		background-color: $quint3;
}

#available-runes-header-marks.active .available-runes-header-text {
		background-color: $mark2;
}

#available-runes-header-seals.active .available-runes-header-text {
		background-color: $seal2;
}

#available-runes-header-glyphs.active .available-runes-header-text {
		background-color: $glyph2;
}

#available-runes-header-quints.active .available-runes-header-text {
		background-color: $quint2;
}

.available-runes-tab {
	display: none;
	flex-wrap: wrap;
	padding: 4px;
}

.available-runes-tab.active {
	display: flex;
}

#available-marks-tab {
	.rune-active-bar-fill {
		background-color: $mark3;
	}
}

#available-seals-tab {
	.rune-active-bar-fill {
		background-color: $seal3;
	}
}

#available-glyphs-tab {
	.rune-active-bar-fill {
		background-color: $glyph3;
	}
}

#available-quints-tab {
	.rune-active-bar-fill {
		background-color: $quint3;
	}
}

.rune-set {
	width: 326px;
	height: 138px;

}

.rune {
	position: relative;
	display: flex;

	width: calc(100% - 8px);
	height: 40px;
	margin: 6px 4px;

	font-size: 12px;
	line-height: 16px;

	background-color: $primary900;
	@include box-shadow(0 0 4px -1px $boxShadow);

	.rune-left {
		position: relative;
		width: 40px;
		height: 100%;
	}

	.rune-image {
		width: calc(100% - 8px);
		height: calc(100% - 8px);

		margin: 4px;

		background-repeat: no-repeat;
		background-size: cover;
	}

	.rune-locked-image {
		position: absolute;

		width: calc(100% - 8px);
		height: calc(100% - 8px);

		margin: 4px;

		color: $lightTextTertiary;
		line-height: 32px;
		font-size: 24px;
		text-align: center;
		background-color: none;

	}

	.rune-middle {
		position: relative;
		width: calc(100% - 40px - 78px - 12px);

		padding: 4px 6px;

		b {
			color: $lightTextSecondary;
		}

		.rune-locked-description {
			line-height: 32px;
		}

		.rune-name {
			height: 16px;
			line-height: 16px;
		}

		.rune-description {
			height: 16px;
			line-height: 16px;

			color: $lightTextSecondary;
		}

		.rune-active-bar {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;

			width: 5px;

			background-color: $lightTextTertiary;
			@include transition(height 25ms);
		}

		.rune-active-bar-fill {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;

			@include box-shadow(0 1px 0 0 $darkTextSecondary inset);
			@include transition(height 25ms);
		}
	}

	.rune-right {
		display: flex;
		flex-wrap: wrap;

		width: 78px;
		height: 100%;

		color: $lightTextSecondary;

		i {
			font-size: 10px;
		}
	}

	.rune-count {
		position: relative;
		width: 22px;
		height: 40px;

		border-left: 1px solid $primary1000;
		cursor: default;
	}

	.rune-count-text {
		position: absolute;
		width: 22px;
		height: 100%;


		line-height: 40px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;

	}

	.rune-controls {
		display: flex;
		flex-wrap: wrap;

		width: 19px;
		height: 40px;

		border-left: 1px solid $primary1000;
		text-align: center;



		.rune-remove,
		.rune-add {
			width: 19px;

			font-weight: bold;
			font-size: 18px;
			line-height: 20px;

			@include transition(color 100ms, background-color 100ms);
		}

		.rune-remove {
			height: 20px;
		}

		.rune-add {
			height: 19px;
			border-bottom: 1px solid $primary1000;
		}

	}

	.rune-purchase {
		width: 34px;
		height: 30px;
		line-height: 15px;
		text-align: center;

		padding: 5px 0;

		border-left: 1px solid $primary1000;

		@include transition(color 100ms, background-color 100ms);
	}

	.rune-purchase.zero,
	.rune-remove.zero,
	.rune-add.zero,
	.rune-count-text.zero {
		color: $lightTextDisabled;
		cursor: default;
	}

	.rune-purchase:hover,
	.rune-remove:hover,
	.rune-add:hover {
		color: $lightTextPrimary;
		background-color: $primary700;
	}

	.rune-purchase:active,
	.rune-remove:active,
	.rune-add:active {
		background-color: $primary900;
	}

	.rune-purchase.zero:hover,
	.rune-remove.zero:hover,
	.rune-add.zero:hover {
		color: $lightTextDisabled;
		background-color: $primary900;
	}

}

// LOCKED Rune
.rune[data-status="0"] {
	background-color: $primary900;
	color: $lightTextTertiary;

	.rune-name,
	.rune-description,
	.rune-image,
	.rune-right {
		display: none;
	}


}

// AVAILABLE Rune
.rune[data-status="1"] {
	.rune-locked-overlay {
		display: none;
	}

	.rune-left {
		cursor: pointer;
	}

	.rune-locked-image {
		display: none;
	}

	.rune-left.zero {
		cursor: default;
	}

	.rune-middle {
		cursor: pointer;
	}

	.rune-middle.zero {
		cursor: default;
	}

	.rune-right {
		cursor: pointer;
	}

	.rune-locked-description {
		display: none;
	}

}
