.pulse {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 0;

	@include animation(pulse .625s 16 ease-out);
}

.pulse.active {
	display: block;
}

#ghost-pulse {
	background-color: $ghost2;
}

#heal-pulse {
	background-color: $heal2;
}

#smite-pulse {
	background-color: $challenging2;
	animation-iteration-count: 8;
}

#exhaust-pulse {
	background-color: $exhaust2;
}

@-webkit-keyframes pulse {
	0% {height: 0px; opacity: 1.0;}
	30% {height: 0px; opacity: 1.0;}
	100% {height: 12px; opacity: 0.0;}
}

@-moz-keyframes pulse {
	0% {height: 0px; opacity: 1.0;}
	30% {height: 0px; opacity: 1.0;}
	100% {height: 12px; opacity: 0.0;}
}
@-o-keyframes pulse {
	0% {height: 0px; opacity: 1.0;}
	30% {height: 0px; opacity: 1.0;}
	100% {height: 12px; opacity: 0.0;}
}

@keyframes pulse {
	0% {height: 0px; opacity: 1.0;}
	30% {height: 0px; opacity: 1.0;}
	100% {height: 12px; opacity: 0.0;}
}

.ring {
	display: none;
	position: absolute;

	width: 100%;
	height: 100%;

	border-style: solid;
	border-radius: 100%;
	@include animation(ring .3s 1 ease-out);
}

#flash-ring {
	border-color: rgba($flash, .8);
}

#smite-ring {
	border-color: rgba($smite, .8);
}

#spoils-ring {
	border-color: $spoils;
}

#tribute-ring {
	border-color: $tribute;
}

#ignite-ring-1 {
	border-color: rgba($ignite1, .8);
}

#ignite-ring-2 {
	border-color: rgba($ignite2, .8);
}

#luden-ring {
	border-color: rgba($luden2, .7);
}

#statikk-ring {
	border-color: rgba($smite2, .7);
}

#teemo-ring {
	border-color: rgba($primary900, .5);
}



@-webkit-keyframes ring {
    0% {border-width: 0px; top: -0px; left: -0px; opacity: 0.0;}
    40% {opacity: .50;}
    100% {border-width: 30px; top: -30px; left: -30px; opacity: 0.0;}
}

@-moz-keyframes ring {
    0% {border-width: 0px; top: -0px; left: -0px; opacity: 0.0;}
    40% {opacity: .50;}
    100% {border-width: 30px; top: -30px; left: -30px; opacity: 0.0;}
}

@-o-keyframes ring {
    0% {border-width: 0px; top: -0px; left: -0px; opacity: 0.0;}
    40% {opacity: .50;}
    100% {border-width: 30px; top: -30px; left: -30px; opacity: 0.0;}
}

@keyframes ring {
    0% {border-width: 0px; top: -0px; left: -0px; opacity: 0.0;}
    40% {opacity: .50;}
    100% {border-width: 30px; top: -30px; left: -30px; opacity: 0.0;}
}
