@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false, $shadow6:false, $shadow7:false, $shadow8:false) {
 $params: $shadow1;
  @if $shadow2
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }
          @if $shadow6 != false
            { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6; }
            @if $shadow7 != false
              { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7; }
              @if $shadow8 != false
                { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8; }

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}

@mixin transition($transition1, $transition2:false, $transition3:false, $transition4:false, $transition5:false) {
 $params: $transition1;
  @if $transition2
    { $params: $transition1, $transition2; }
    @if $transition3 != false
      { $params: $transition1, $transition2, $transition3; }
      @if $transition4 != false
        { $params: $transition1, $transition2, $transition3, $transition4; }
        @if $transition5 != false
          { $params: $transition1, $transition2, $transition3, $transition4, $transition5; }

  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin animation($animation1, $animation2:false, $animation3:false, $animation4:false, $animation5:false) {
 $params: $animation1;
  @if $animation2
    { $params: $animation1, $animation2; }
    @if $animation3 != false
      { $params: $animation1, $animation2, $animation3; }
      @if $animation4 != false
        { $params: $animation1, $animation2, $animation3, $animation4; }
        @if $animation5 != false
          { $params: $animation1, $animation2, $animation3, $animation4, $animation5; }

  -webkit-animation: $params;
  -moz-animation: $params;
  -o-animation: $params;
  animation: $params;
}
