.tooltipster-custom {
	border-radius: 3px;
	background: $darkTextPrimary;
	color: $lightTextSecondary;
}
.tooltipster-custom .tooltipster-content {
	font-size: 13px;
	line-height: 14px;
	padding: 6px 8px;
}

.tooltipster-custom .tooltipster-content b {
	color: $smite;
	font-weight: normal;
}

.tooltipster-custom .tooltip-image {
	border-radius: 2px;
}

.tooltipster-custom .rune-tooltip {
	line-height: 18px;

	b {
		font-weight: bold;
	}

}

.tooltipster-custom .mark b {
	color: $mark3;
}

.tooltipster-custom .seal b {
	color: $seal3;
}

.tooltipster-custom .glyph b {
	color: $glyph3;
}

.tooltipster-custom .quint b {
	color: $quint3;
}

#chime-points-tooltip {
	color: darken($lightTextSecondary, 10%);
}
