// Colors
$primary300: #7BA0B2;
$primary500: #607D8B;
$primary700: #455A64;
$primary900: #263238;
$primary1000: #1E272C;
$primary1100: #171C1E;

$secondary500: #FFC107;
$secondary700: #FFA000;
$secondary900: #FF6F00;

$tertiary700: #3E9DFF;

// $secondary500: #FF9800;
// $secondary700: #F57C00;
// $secondary900: #E65100;

$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);

$gray100: #F5F5F5;
$gray300: #E0E0E0;
$gray500: #9E9E9E;
$gray600: #848484;
$gray700: #616161;
$gray900: #212121;
$gray1000: #191919;
$gray1100: #131313;

// For light backgrounds (dark text)
$darkTextPrimary: rgba(0,0,0,.87);
$darkTextSecondary: rgba(0,0,0,.54);
$darkTextDisabled: rgba(0,0,0,.38);
$darkDivider: rgba(0,0,0,.12);

// For dark backgrounds (light text)
$lightTextPrimary: rgba(255,255,255, 1);
$lightTextSecondary: rgba(255,255,255,.70);
$lightTextTertiary: rgba(255,255,255,.35);
$lightTextDisabled: rgba(255,255,255,.20);
$lightDivider: rgba(255,255,255,.12);

$boxShadow: rgba(0,0,0,.75);
$dividerLight: $primary1000;
$dividerDark: $black;

// Spell effect colors
$flash: #E0D987;
$smite: #FFCC5F;
$smite1: #A15923;
$smite2: #F5C32E;
$smite3: #F3E1A8;
$heal1: #437033;
$heal2: #76CC52;
$heal3: #C4F5A7;
$challenging1: #7C2224;
$challenging2: #D35342;
$challenging3: #FCD1AB;
$ghost1: #082438;
$ghost2: #0B4D80;
$ghost3: #BEF9FD;
$ignite1: #771A16;
$ignite2: #D1481A;
$ignite3: #F3DE9D;
$exhaust1: #694E12;
$exhaust2: #C9A73F;
$exhaust3: $lightTextPrimary;
$spoils: #0F8E78;
$tribute: #2382DD;

$luden1: #3D198D;
$luden2: #722ACC;
$luden3: #A46FDA;

$mark1: #4F2E1F;
$mark2: #7F523A;
$mark3: #BB684C;

$seal1: #7A612B;
$seal2: #9D8C47;
$seal3: #CCAA4C;

$glyph1: #2B3B43;
$glyph2: #495F6C;
$glyph3: #748FA1;

$quint1: #5D3E6C;
$quint2: #6E4A7C;
$quint3: #A461B2;

// Alternate Colors
	// blue: rgb(14, 91, 207)
	// green: rgb(79, 151, 100)
	// dark-green: rgb(79, 151, 100)
	// orange: rgb(253, 171, 0)
	// purple: rgb(107, 7, 228)
	// red: rgb(217, 79, 19)
	// gray: rgba(44, 62, 80, 1)
	// darker: rgba(34, 49, 63, 1)
	//
	// $color1 - green: #4f8564; //rgba(79, 133, 100, 100)
	// $color2 - blue: #114b5f; //rgba(17, 75, 95, 100)
	// $color3 - dark blue: #092327; //rgba(9, 35, 39, 100)
	// $color4 - red: #ac3931; //rgba(172, 57, 49, 100)
	// $color5 - orange: #b3642d; //rgba(179, 100, 45, 100)


// Other
$dropdownButtonSize: 25px;
$selectorButtonSize: 25px;
$itemBuyButtonSize: 25px;
$barHeight: 25px;
